package html

import (
    "github.com/brottum-brass/forum/src/utils/theme"
)

templ BrandLogo(name string, theme theme.Mode) {
    <a href="/" class="flex items-center space-x-2 group">
        <img src="/static/icons/logo_transparent.png" alt="Logo" class="h-8 w-auto group-hover:scale-105 transition-transform"/>
        <span class={ "text-xl font-bold transition group-hover:text-amber-500 " + theme.PrimaryText }>
            { name }
        </span>
    </a>
}
