package html

import (
    "github.com/brottum-brass/forum/src/utils/language"
    "github.com/brottum-brass/forum/src/utils/theme"
)

templ ThemeToggle(theme theme.Mode) {
    <button 
        hx-get="/toggle-theme" 
        hx-target="#app-root" 
        hx-swap="outerHTML transition:true"
        type="button" 
        aria-label="Toggle Theme"
        class={ "p-2 rounded-lg transition focus:outline-none border border-transparent " + theme.HoverBackground + " " + theme.AccentHoverText + " " + theme.HoverBorder + " " + theme.SecondaryText }
    >
        if theme.Name == "darkmode" {
            <img src="/static/icons/sun.svg" alt="Light Mode" class={ "h-5 w-5 " + theme.IconFilter }/>
        } else {
            <img src="/static/icons/moon.svg" alt="Dark Mode" class={ "h-5 w-5 " + theme.IconFilter }/>
        }
    </button>
}

templ LanguageSelect(language language.Content, theme theme.Mode) {
    <select 
        name="language"
        hx-get="/change-language" 
        hx-target="#app-root"
        hx-swap="outerHTML transition:true"
        hx-trigger="change"
        class={ "text-sm rounded-lg p-2 font-medium border focus:ring-2 focus:outline-none transition cursor-pointer " + theme.HoverBorder + " " + theme.AccentFocusRing + " " + theme.SecondaryBackground + " " + theme.PrimaryBorder + " " + theme.PrimaryText }
    >
        <option value="en" selected?={ language.Common.Language == "en" }>EN</option>
        <option value="no" selected?={ language.Common.Language == "no" }>NO</option>
    </select>
}
