@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

@layer base {
  img, svg, video, canvas {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 150ms;
  animation-timing-function: ease-in-out;
}
